img {
    height: 148px;
    margin-top: 27px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 50px;
}

.grid img {
    grid-column: 4/6;
    grid-row: 1;
}

.radiobutton {
    grid-row: 2/4;
    grid-column: 2/4;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5%;
    font-size: 40px;
    width: 386px;
}

.radio {
    grid-row: 2/4;
    grid-column: 6/8;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5%;
    width: 386px;
    font-size: 40px;
}

.list {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5%;
    width: 328px;
    height: 328px;
    margin: 29px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.radio a {
    text-decoration: none;
    color: white;
}

.radiobutton a {
    text-decoration: none;
    color: white;
}